@model IEnumerable<PeopleProTraining.Dal.Models.Building>

@{
    ViewBag.Title = "Index";
}

<!-- **********SCRIPTS***************** -->
    <script src="/scripts/jquery-1.10.2.js"></script>
    <script src="~/scripts/bootstrap.js"></script>

    <script>
        function ajax_post() {
            //append tr to table***
            data = { name: null, address: null };
            data.name = document.getElementById("building_name_txt").value;
            data.address = document.getElementById("building_addr_txt").value;
            console.log("this function here");//debugging tool

            $.ajax({
                method: "POST",
                async: true,
                url: "/Building/Post",
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function append_to_html() {
                    var row = document.createElement("tr");
                    var td_name = document.createElement("td");
                    var td_addr = document.createElement("td");
                    var td_functions = document.createElement("td");
                    //TODO: fill with data append to table.
                    td_name = data.name;
                    td_addr = data.address;
                    td_functions = "TODO: functions";
                    row.appendChild(td_name);
                    row.appendChild(td_name);
                    row.appendChild(td_functions);

                    var table = document.getElementsByClassName("table");
                    
                }
            });            

        }

    </script>

<!--***********************************-->




<h2>Building Index</h2>

<button type="button" class="btn" data-toggle="modal" data-target="#create_building_modal">Create new Building(modal)</button>

<!-- Modal******************************************************** -->
<div id="create_building_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create new Building</h4>
            </div>
            <div class="modal-body">
                <form  method="post">
                    <p>Address:</p>
                    <input id="building_addr_txt" type="text" name="addr_input" />
                    <br />
                    <p>Name:</p>
                    <input id="building_name_txt" type="text" name="name_input" />
                    <br />
                    <input id="data_submit" type="submit" onclick="javascript:ajax_post" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!--*****************************************************************-->


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
